 ![png](books.png)

In [1]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
username = "root"
password = "root"
db_name = "books"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)

In [4]:
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')
database_exists(connection)

The database already exists

True

In [5]:
import pandas as pd
users = pd.read_csv('Data/users.csv')
books = pd.read_csv('Data/books.csv')
authors = pd.read_csv('Data/authors.csv')
favorites = pd.read_csv('Data/favorites.csv')

In [6]:
users.to_sql('users', engine, if_exists = 'replace')
books.to_sql('books', engine, if_exists = 'replace')
authors.to_sql('authors', engine, if_exists = 'replace')
favorites.to_sql('favorites', engine, if_exists = 'replace')

7

In [7]:
q='''SHOW TABLES'''

pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [8]:
q='''SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));'''

pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1